<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Data Produk</title>
</head>
<body>
<section layout:fragment="content">

    <h2>Data Produk</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>#</th>
                <th>Kode</th>
                <th>Nama</th>
                <th>Harga</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>            
            
            <tr th:each="p, stat : ${dataProduk.content}">
	                <td th:text="${stat.index + 1}">1,001</td>
	                <td th:text="${p.kode}">Lorem</td>
	                <td th:text="${p.nama}">ipsum</td>
	                <td th:text="${p.harga}">dolor</td>
	                <td>
	                    <a th:href="@{/produk/form(id=${p.id})}">edit</a>
	                </td>
	            </tr>            
            </tbody>
        </table>
    </div>
        <div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                    <!-- Pagination created by SpringDataDialect, this content is just for mockup -->
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    
</section>
</body>
</html>
